name: MASTER_WINDOWS_BUILD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt pyinstaller

    - name: Inject Credentials
      shell: pwsh
      run: |
        echo "TG_API_ID=${{ secrets.TG_API_ID }}" > .env
        echo "TG_API_HASH=${{ secrets.TG_API_HASH }}" >> .env

    - name: Build EXE
      run: |
        pyinstaller --onefile --noconsole --icon="app_logo_image.png" --add-data "app_logo_image.png;." --add-data ".env;." --collect-all customtkinter main.py

    - name: Upload Finished EXE
      uses: actions/upload-artifact@v4
      with:
        name: Broadcaster-Final-Version
        path: dist/main.exe
